<!--preko cele stranice cemo prikazati cenovnik -->
<div class="displayPricelist row content">

  <div class="col-12 col-md-3 sidebar-content">
    <form #directionsForm="ngForm">
      <label class="col-12 col-form-label">Traffic type:

        <div class="btn-group btn-group-toggle" (click)=search()>
          <label class="btn-primary" ngbButtonLabel>
            <input type="checkbox" ngbButton name="displayBus" />
            Bus
          </label>
          <label class="btn-primary" ngbButtonLabel>
            <input type="checkbox" ngbButton name="displayMetro" />
            Metro
          </label>
          <label class="btn-primary" ngbButtonLabel>
            <input type="checkbox" ngbButton name="displayTram" />
            Tram
          </label>
        </div>
      </label>


      <label class="col-12 col-form-label">Traffic zone:

        <div class="btn-group btn-group-toggle">
          <label class="btn-primary" ngbButtonLabel>
            <input type="checkbox" ngbButton name="displayFirst" />
            First
          </label>
          <label class="btn-primary" ngbButtonLabel>
            <input type="checkbox" ngbButton name="displaySecond" />
            Second
          </label>
        </div>
      </label>

      <label class="col-12 col-form-label">Ticket time:

        <div class="btn-group btn-group-toggle">
          <label class="btn-primary" ngbButtonLabel>
            <input type="checkbox" ngbButton name="displayAnnual" />
            Annual
          </label>
          <label class="btn-primary" ngbButtonLabel>
            <input type="checkbox" ngbButton name="displayMonth" />
            Month
          </label>
          <label class="btn-primary" ngbButtonLabel>
            <input type="checkbox" ngbButton name="displaySingle" />
            Single
          </label>
          <label class="btn-primary" ngbButtonLabel>
            <input type="checkbox" ngbButton name="displayDaily" />
            Daily
          </label>
        </div>
      </label>

    </form>
  </div>

  <div class="col-12 col-md-9 map-content">
    <div id="map" class="map">
      <!--ovde cemo nacrtati tabelu-->
      <div *ngIf="pricelist !== undefined">
      <pre> Issue date: {{pricelist.issueDate | date:"dd.MM.yyyy."}} </pre>
      <table style="width:100%">
        <tr> 
          <th> Traffic type </th>
          <th> Traffic zone </th>
          <th> Ticket time </th>
          <th> Price </th>
          <th> Student </th>
          <th> Senior  </th>
          <th> Handicap </th>
        </tr> 
        <tr *ngFor="let i of items">
          <td> {{i.trafficType}}</td>
          <td> {{i.zone}}</td>
          <td> {{i.timeType}}</td>
          <td> {{i.price}}</td>
          <td> {{i.studentDiscount}}</td>
          <td> {{i.seniorDiscount}}</td>
          <td> {{i.handycapDiscount}}</td> 
        </tr>

      </table>
    </div>
    </div>
  </div>

</div>