<!--preko cele stranice cemo prikazati cenovnik -->
<div class="displayPricelist row content">

  <div class="col-12 col-md-3 sidebar-content">
    <form #directionsForm="ngForm">
      <label class="col-12 col-form-label">Traffic type:

        <div class="btn-group btn-group-toggle">
          <label class="btn-primary" ngbButtonLabel >
            <input type="checkbox" ngbButton name="displayBus" [(ngModel)]="displayType.bus" (change)="reload()" />
            Bus
          </label>
          <label class="btn-primary" ngbButtonLabel>
            <input type="checkbox" ngbButton name="displayMetro" [(ngModel)]="displayType.metro" (change)="reload()"/>
            Metro
          </label>
          <label class="btn-primary" ngbButtonLabel>
            <input type="checkbox" ngbButton name="displayTram" [(ngModel)]="displayType.tram" (change)="reload()" />
            Tram
          </label>
        </div>
      </label>


      <label class="col-12 col-form-label">Traffic zone:

        <div class="btn-group btn-group-toggle">
          <label class="btn-primary" ngbButtonLabel>
            <input type="checkbox" ngbButton name="displayFirst" [(ngModel)]="displayZone.first" />
            First
          </label>
          <label class="btn-primary" ngbButtonLabel>
            <input type="checkbox" ngbButton name="displaySecond" [(ngModel)]="displayZone.second" />
            Second
          </label>
        </div>
      </label>

      <label class="col-12 col-form-label">Ticket time:

        <div class="btn-group btn-group-toggle">
          <label class="btn-primary" ngbButtonLabel>
            <input type="checkbox" ngbButton name="displayAnnual" [(ngModel)]="displayTicketTime.annual" />
            Annual
          </label>
          <label class="btn-primary" ngbButtonLabel>
            <input type="checkbox" ngbButton name="displayMonth" [(ngModel)]="displayTicketTime.month" />
            Month
          </label>
          <label class="btn-primary" ngbButtonLabel>
            <input type="checkbox" ngbButton name="displaySingle" [(ngModel)]="displayTicketTime.single" />
            Single
          </label>
          <label class="btn-primary" ngbButtonLabel>
            <input type="checkbox" ngbButton name="displayDaily" [(ngModel)]="displayTicketTime.daily"/>
            Daily
          </label>
        </div>
      </label>


    </form>
    <hr>
    <pre> type : {{displayType.bus}} {{displayType.metro}} {{displayType.tram}}</pre>
    <pre> time : {{displayTicketTime.annual}} {{displayTicketTime.month}}</pre>
    <pre> zone : {{displayZone.first}}</pre>
  </div>

  <div class="col-12 col-md-9 map-content">
    <div id="map" class="map">
      <!--ovde cemo nacrtati tabelu-->
      <div *ngIf="pricelist !== undefined">
      <pre> Issue date: {{pricelist.issueDate | date:"dd.MM.yyyy."}} </pre>
      <table style="width:100%">
        <tr> 
          <th> Traffic type </th>
          <th> Traffic zone </th>
          <th> Ticket time </th>
          <th> Price </th>
          <th> Student </th>
          <th> Senior  </th>
          <th> Handicap </th>
        </tr> 
        <tr *ngFor="let i of (items |filterItemByTicketTime : displayTicketTime
                                    | filterItemByZone : displayZone
                                    |  filterItemByTrafficType : displayType)">
          <td> {{i.trafficType}}</td>
          <td> {{i.zone}}</td>
          <td> {{i.timeType}}</td>
          <td> {{i.price}}</td>
          <td> {{i.studentDiscount}}</td>
          <td> {{i.seniorDiscount}}</td>
          <td> {{i.handycapDiscount}}</td> 
        </tr>

      </table>
    </div>
    </div>
  </div>

</div>