<div class="menu">
  <ul class="nav">
    <li class="nav-item">
      <a
        class="nav-link btn"
        id="stationsDropdown"
        (click)="
          router.navigate([
            '/main',
            { outlets: { secondary: 'displaystations' } }
          ])
        "
        >Stations</a
      >
    </li>

    <li class="nav-item">
      <a
        class="nav-link btn"
        id="linesDropdown"
        (click)="
          router.navigate(['/main', { outlets: { secondary: 'lines' } }])
        "
        >Lines</a
      >
    </li>

    <li ngbDropdown class="nav-item">
      <a class="nav-link btn" id="ticketsDropdown" ngbDropdownToggle>Tickets</a>
      <div ngbDropdownMenu aria-labelledby="ticketsDropdown">
        <button class="dropdown-item">My Tickets</button>
        <button class="dropdown-item">Add new station</button>
      </div>
    </li>
  </ul>
</div>

<!-- <div ngbDropdown class="d-inline-block">
  <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown</button>
  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
    <a class="dropdown-item" href="#">Test</a>
    <button class="dropdown-item">Action - 1</button>
    <button class="dropdown-item">Another Action</button>
    <button class="dropdown-item">Something else is here</button>
  </div>
</div> -->
