
<div id="dialogValidation"  >
    <div class="modal-header">
        <h4 class="modal-title">Do you want to validate your account now? </h4>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div> 
      <div class="modal-body">   
        
          
         
          <button id="validate" class="btn btn-primary btn-block" (click)="showValidation()">Validate now</button>
          <button id="later" class="btn btn-primary btn-block" (click)="later()">Later</button>
          
        </div>
    
      </div> 
      
    