<div>
  <div class="legend">
    <div class="legend-title"><span>Legend:</span></div>
    <div class="legend-bus">
      <img
        src="../../../assets/images/BUS-icon.png"
        style="width: 20px"
      /><span> Bus</span>
    </div>
    <div class="legend-tram">
      <img
        src="../../../assets/images/TRAM-icon.png"
        style="width: 20px"
      /><span> Tram</span>
    </div>
    <div class="legend-metro">
      <img
        src="../../../assets/images/METRO-icon.png"
        style="width: 20px"
      /><span> Metro</span>
    </div>
  </div>
  <div id="map" class="map"></div>
</div>
