<p>
  Tickets 
</p>

<!--
<div class="ticket row content">
  <div class="col-12 col-md-3 sidebar-content">
    <ngb-tabset>
      <ngb-tab title="My ticket">
        <ng-template ngbTabContent>
          <label class="col-12 col-form-label">
            Currently we have {{ tickets.length }} tickets.
          </label>
           <-- ovde cemo prikazati sve korisnikove karte, i omoguciti mu pretragu -->
 <!--       </ng-template>
      </ngb-tab>

      <ngb-tab title="Buy">
        <ng-template ngbTabContent>
          <form #createForm="ngForm">
            <label class="col-12 col-form-label">Choose type:
              <div
                class="btn-group btn-group-toggle"
                ngbRadioGroup
                name="radioBasic"
                [(ngModel)]="buyTicket.type"
              >
                <label ngbButtonLabel class="btn-primary">
                  <input ngbButton type="radio" value="BUS" /> Bus
                </label>
                <label ngbButtonLabel class="btn-primary">
                  <input ngbButton type="radio" value="TRAM" /> Tram
                </label>
                <label ngbButtonLabel class="btn-primary">
                  <input ngbButton type="radio" value="METRO" /> Metro
                </label>
              </div>
            </label>

            <label class="col-12 col-form-label"
              >Choose zone:

              <div
                class="btn-group btn-group-toggle"
                ngbRadioGroup
                name="radioBasic"
                [(ngModel)]="buyTicket.zone"
              >
                <label ngbButtonLabel class="btn-primary">
                  <input ngbButton type="first" value="FIRST" /> Bus
                </label>
                <label ngbButtonLabel class="btn-primary">
                  <input ngbButton type="second" value="SECOND" /> Tram
                </label>
              </div>
            </label>

            <label class="col-12 col-form-label"
              >Choose time:

              <div
                class="btn-group btn-group-toggle"
                ngbRadioGroup
                name="radioBasic"
                [(ngModel)]="buyTicket.time"
              >
                <label ngbButtonLabel class="btn-primary">
                  <input ngbButton type="annual" value="ANNUAL" /> Bus
                </label>
                <label ngbButtonLabel class="btn-primary">
                  <input ngbButton type="month" value="MONTH" /> Tram
                </label>
                <label ngbButtonLabel class="btn-primary">
                  <input ngbButton type="single" value="SINGLE" /> Tram
                </label>
                <label ngbButtonLabel class="btn-primary">
                  <input ngbButton type="daily" value="DAILY" /> Tram
                </label>
              </div>
            </label>

            <label class="col-12 col-form-label"> Price: 
              <input
                type="text"
                id="street"
                class="form-control"
                name="street"
                [(ngModel)] = "buyTicket.price"
              />
          </label>

          </form>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>

  
</div>
-->