<div class="displayStationContainer row content">
    <div class="col-12 col-md-3 sidebar-content">
      <form #createForm="ngForm">
        <label class="col-12 col-form-label"> SerialNo:
          <input #staddress type="text" id="staddress" class="form-control" name="staddress" [(ngModel)]="serialNo" />

          </label>
          <label class="col-12 col-form-label"> Line: 

          </label>
          </form>

    </div>
  
    <div class="col-12 col-md-9 map-content">
      <div id="map" class="map">
       <!--ovde cemo prikazati poruku koju smo dobili sa back-a --->
      </div>
  
    </div>
  
  </div>
