<div class="displayPricelist row content">
    <div>
      <ngb-tabset>
        <ngb-tab title="Price list" id="displayPricelist">
          <ng-template ngbTabContent>
            <app-display-price-list></app-display-price-list>
          </ng-template>
          
  
        </ngb-tab>
  
  
        <ngb-tab *ngIf="role === 'ADMIN'" title="Create new price list" id="createPricelist">
          <ng-template ngbTabContent>
            <app-create-new-pricelist></app-create-new-pricelist>
          </ng-template>
        </ngb-tab>
  
  
      </ngb-tabset>
  
  
    </div>
  
    
  
  </div>