<div class="displayStationsContainer row content">
  <div class="col-12 col-md-4 sidebar-content">
    <ngb-tabset (tabChange)="tabChange()" [activeId]="activeTabId">
      <ngb-tab title="Display stations" id="displayStationsTab">
        <ng-template ngbTabContent>
          <label class="col-12 col-form-label">
            Currently we have {{ stations.length }} stations in total.
          </label>

          <ng-template #rt let-r="result" let-t="term">
            <img
              [src]="'../../../assets/images/' + r.type + '-icon.png'"
              class="mr-1"
              style="width: 20px"
            />
            <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
          </ng-template>

          <form #directionsForm="ngForm">
            <label class="col-12 col-form-label"
              >Display:

              <div class="btn-group btn-group-toggle">
                <label class="btn-primary" ngbButtonLabel>
                  <input
                    type="checkbox"
                    ngbButton
                    [(ngModel)]="displayType.bus"
                    name="displayBus"
                    (change)="drawStations()"
                  />
                  Bus
                </label>
                <label class="btn-primary" ngbButtonLabel>
                  <input
                    type="checkbox"
                    ngbButton
                    [(ngModel)]="displayType.metro"
                    name="displayMetro"
                    (change)="drawStations()"
                  />
                  Metro
                </label>

                <label class="btn-primary" ngbButtonLabel>
                  <input
                    type="checkbox"
                    ngbButton
                    [(ngModel)]="displayType.tram"
                    name="displayTram"
                    (change)="drawStations()"
                  />
                  Tram
                </label>
              </div>
            </label>

            <div class="search-item ">
              <input
                #stname
                type="text"
                id="stname"
                class="form-control"
                name="stname"
                placeholder="Search by name"
                [ngbTypeahead]="search"
                [resultTemplate]="rt"
                [inputFormatter]="formatter"
              />
            </div>
            <!-- [(ngModel)]="selectedStation"
                [ngbTypeahead]="search"
                [resultTemplate]="rt"
                [inputFormatter]="formatter" -->
            <div class="search-item">
              <input
                #stline
                type="text"
                id="stline"
                class="form-control"
                name="stline"
                placeholder="Search by line"
                [(ngModel)]="selectedLine"
                [ngbTypeahead]="searchByLine"
                [resultTemplate]="rt"
                [inputFormatter]="formatterLine"
              />
            </div>
          </form>

          <div
            id="stationCollapseArea"
            *ngIf="selectedStation && !editStation && selectedStation.name"
          >
            <label>Selected station: </label>
            <button
              class="close"
              title="Close"
              (click)="selectedStation = undefined"
            >
              x
            </button>
            <div class="card">
              <div class="card-body">
                <p>
                  <img
                    src="../../../assets/images/{{
                      selectedStation.type
                    }}-icon.png"
                    style="width: 40px"
                  />
                  &nbsp; {{ selectedStation.name }}
                </p>
                <span *ngIf="selectedStation.lines.length > 0"
                  >Lines: {{ selectedStation.lines.length }}</span
                >
                <span *ngIf="selectedStation.lines.length === 0"
                  >No lines assigned yet</span
                >
              </div>

              <div>
                <div class="btn-group btnFloatRight">
                  <button
                    type="button"
                    class="btn btn-outline-primary"
                    (click)="
                      editStation = selectedStation;
                      markerOnMap = [
                        editStation.xCoordinate,
                        editStation.yCoordinate
                      ]
                    "
                  >
                    Edit
                  </button>
                  <button
                    type="button"
                    class="btn btn-danger"
                    (click)="deleteStation(selectedStation)"
                  >
                    Delete
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div id="stationCollapseArea" *ngIf="editStation">
            <label>Edit station: </label>
            <button
              class="close"
              title="Close"
              (click)="editStation = undefined; removeMarkers()"
            >
              x
            </button>
            <div class="card">
              <div class="card-body">
                <table class="tableContent">
                  <tr>
                    <td>
                      <img
                        src="../../../assets/images/{{
                          editStation.type
                        }}-icon.png"
                        style="width: 40px; height: 40px"
                      />
                    </td>
                    <td>
                      <input
                        #stnameEdit
                        type="text"
                        id="stnameEdit"
                        class="form-control"
                        name="stnameEdit"
                        placeholder="Enter station name"
                        [(ngModel)]="editStation.name"
                      />
                    </td>
                  </tr>
                  <tr>
                    <td>Location:</td>
                    <td>
                      <input
                        #stlocEdit
                        type="text"
                        id="stlocEdit"
                        readonly
                        class="form-control"
                        name="stlocEdit"
                        [(ngModel)]="markerOnMap"
                        placeholder="Choose location on map"
                      />
                    </td>
                  </tr>
                </table>
              </div>
              <div>
                <div class="btn-group btnFloatRight">
                  <button
                    type="button"
                    class="btn"
                    (click)="editStation = undefined; removeMarkers()"
                  >
                    Cancel
                  </button>
                  <button
                    type="button"
                    class="btn btn-primary"
                    (click)="updateStation(editStation)"
                  >
                    Save
                  </button>
                </div>
              </div>
            </div>
          </div>

          <hr />
          <label>Stations:</label>

          <div id="routes">
            <div
              *ngFor="
                let station of (stations
                  | filterByType: displayType
                  | filterByLine: selectedLine:stline.value
                  | filterByName: stname.value)
              "
              class="row route"
              (click)="selectStation(station)"
            >
              <div class="col-2 estimated-time">
                <img
                  src="../../../assets/images/{{ station.type }}-icon.png"
                  style="width: 40px"
                />
              </div>

              <div class="col-10 estimated-time">
                <span>{{ station.name }}</span>
                <span *ngIf="station.lines.length > 0"
                  >Lines: {{ station.lines.length }}</span
                >
                <span *ngIf="station.lines.length === 0"
                  >No lines assigned yet</span
                >
              </div>
            </div>
          </div>
        </ng-template>
      </ngb-tab>

      <ngb-tab *ngIf="role === 'ADMIN'" title="Create new" id="createStationTab">
        <ng-template ngbTabContent>
          <form #createForm="ngForm">
            <label class="col-12 col-form-label"
              >Choose type:

              <div
                class="btn-group btn-group-toggle"
                ngbRadioGroup
                name="radioBasic"
                [(ngModel)]="newStation.type"
              >
                <label ngbButtonLabel class="btn-primary">
                  <input ngbButton type="radio" value="BUS" /> Bus
                </label>
                <label ngbButtonLabel class="btn-primary">
                  <input ngbButton type="radio" value="TRAM" /> Tram
                </label>
                <label ngbButtonLabel class="btn-primary">
                  <input ngbButton type="radio" value="METRO" /> Metro
                </label>
              </div>
            </label>

            <label for="stnameNew" class="col-12 col-form-label"
              >Enter station name:
            </label>
            <div class="search-item ">
              <input
                #stnameNew
                type="text"
                id="stnameNew"
                class="form-control"
                name="stnameNew"
                placeholder="Enter station name"
                [(ngModel)]="newStation.name"
              />
            </div>

            <label for="stlocNew" class="col-12 col-form-label"
              >Choose location on map:
            </label>
            <div class="search-item ">
              <input
                #stlocNew
                type="text"
                id="stlocNew"
                readonly
                class="form-control"
                name="stlocNew"
                [(ngModel)]="markerOnMap"
                placeholder="Choose location on map"
              />
            </div>
            <hr />
            <button
              type="button"
              class="btn btn-outline-primary"
              (click)="createStation(newStation)"
            >
              Create
            </button>
          </form>
          {{ newStation | json }}
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>

  <div class="col-12 col-md-8 map-content">
    <div class="legend">
      <div class="legend-title"><span>Legend:</span></div>
      <div class="legend-bus"><span>Bus</span></div>
    </div>
    <div id="map" class="map"></div>
  </div>
</div>
