<div class="linesContainer">
  <ngb-tabset
    #tabRef="ngbTabset"
    [activeId]="activeTab"
    (tabChange)="onTabChange($event)"
  >
    <ngb-tab title="Display lines" id="displayLinesTab">
      <ng-template ngbTabContent>
        <app-lines-display
          [lines]="lines"
          [stations]="stations"
          (editLineEmitter)="openEditor($event)"
        ></app-lines-display>
      </ng-template>
    </ngb-tab>

    <ngb-tab title="Create new" id="createLineTab" *ngIf="loggedUser && loggedUser.role === 'ADMIN'">
      <ng-template ngbTabContent>
        <app-lines-create-edit
          [stations]="stations"
          [actionType]="'CREATE'"
          (buttonClick)="activeTab = $event; selectedLine = undefined"
        ></app-lines-create-edit>
      </ng-template>
    </ngb-tab>

    <ngb-tab title="Edit" id="editLineTab" *ngIf="loggedUser && loggedUser.role === 'ADMIN' && selectedLine">
      <ng-template ngbTabContent>
        <app-lines-create-edit
          [stations]="stations"
          [lines]="lines"
          [actionType]="'EDIT'"
          [newLine]="selectedLine"
          (buttonClick)="activeTab = $event; selectedLine = undefined"
        ></app-lines-create-edit>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>

<!-- <app-lines-map [lines]="lines" [stations]="stations"></app-lines-map> -->
