<div class="header">
  <div class="appInfo">
    <div>
      <label class="title">NS Traffic Assistant</label>
    </div>
    <div>
      <label>-Novi Sad-</label>
    </div>
  </div>
<!-- ovde treba pogledati da li je korisnik ulogovan, ako nije prikazati mu log in i register button, a ako 
jetse onda ovaj dole meni -->

<div id="notRegistrated">
  
  <button class="myStyle" id="loginButton" (click)="open()">Login</button>
  
  <button class="myStyle" id="registerButton" (click)="openReg()">Register</button>
</div>
  <div class="userInfo" id="registrated">
    <img src="assets/images/bus.png">
    <div ngbDropdown class="nav-item">
      <a class="nav-item btn" id="userDropdown" ngbDropdownToggle>{{username}}</a><!--ovde moze da se prikaze username korisnika-->
      <div ngbDropdownMenu aria-labelledby="userDropdown">
        <button class="dropdown-item" id="editItem" (click)=edit()>Edit profile</button>
        <button class="dropdown-item" id="logoutItem" (click)="logout()">Log out</button>
      </div>     
    </div>
  </div>
</div>