<div class="header">
  <div class="appInfo">
    <div>
      <label class="title">NS Traffic Assistant</label>
    </div>
    <div>
      <label>-Novi Sad-</label>
    </div>
  </div>

  <div class="userInfo">
    <img src="assets/images/bus.png">
    <div ngbDropdown class="nav-item">
      <a class="nav-item btn" id="userDropdown" ngbDropdownToggle>Test Testic</a>
      <div ngbDropdownMenu aria-labelledby="userDropdown">
        <button class="dropdown-item">Edit profile</button>
        <button class="dropdown-item">Log out</button>
      </div>     
    </div>
  </div>
</div>