<div class="stationsContainer">
  <ngb-tabset [activeId]="activeTab" (tabChange)="onTabChange($event)">
    <ngb-tab title="Display stations" id="displayStationsTab">
      <ng-template ngbTabContent>
        <!-- Display stations component -->
        <app-stations-display [stations]="stations" [lines]="lines"></app-stations-display>
      </ng-template>
    </ngb-tab>

    <ngb-tab *ngIf="role === 'ADMIN'" title="Create new" id="createStationTab">
      <ng-template ngbTabContent>
        <!-- Create station component -->
        <app-stations-create [stations]="stations" (onCreation)="activeTab = $event"></app-stations-create>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
