// Colors
//$main-color: #1434A0;
$main-color: #00a8f3;
$secondary-color: #fff;
$bus-color: #1434A0;
$tram-color: #0ed145;
$metro-color: #ec1c24;
$walking-color: #ff0000;
$border-color: #A8A8A8;
$gray: #EEE;